<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @{
        string title = "師大附中 校友通訊錄(618-643)";

        string appName = "HSNU Alumni Contacts App"; 

        if (System.Web.Configuration.WebConfigurationManager.AppSettings["Type"] == "Land")
        {
            title = "93政大地政系 通訊錄";

            appName = "NCCU LandEconomics Alumni Contacts App"; 
        }
    }

    <title>@ViewBag.Title - @appName</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
              
                @Html.ActionLink(title, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @{
                        if (System.Web.Configuration.WebConfigurationManager.AppSettings["Type"] != "Land" || User.Identity.Name.StartsWith("leeyinheng"))
                        {
                            <li>@Html.ActionLink("上傳通信錄", "Index", "Import")</li>
                        }
                    }
                    @*<li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="alert alert-info">
                <p>&copy; @DateTime.Now.Year - Alumni Contacts App</p>
                <p> Please email to Henry Lee (<a href="mailto:leeyinheng@gmail.com">leeyinheng@gmail.com</a>) for questions or suggestions</p>
            </div>
            
            <div class="alert alert-danger">
                <p> Recommanded view by Chrome. 強力推薦使用 Google Chrome 瀏覽器於通信錄系統. **若是用 Ipad 則必須使用 Chome App**</p>
                <p> All contact infos are only for alumni, cannot be spread out for any marketing purpose</p>
                <p> 同學通信錄限於彼此聯絡方便之用 嚴禁用於其他商業用途</p>
            </div>
            
        </footer>
    </div>

    
    @RenderSection("scripts", required: false)
</body>
</html>
